<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GameShop</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header>
        <div class="container">
            <div class="main">
                <img src="/app/templates/img/8f7742139369793.Y3JvcCwxMzEwLDEwMjUsNDUsMA.png" alt="">
                <h1>GameShop</h1>
                <a href=""><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
        </div>
    </header>
    <hr>
    <section class="gamesection">
        <div class="container">
            <div class="games">
                <div class="game">
                    <div>
                        <img src="img/загружено.jpg" alt="Witcher">
                    </div>
                    <div class="description">
                        <h2>The Witcher 3: Wild Hunt</h2>
                        <p>20$</p>
                        <a href="witcher.html"><i class="fa-solid fa-cart-shopping"></i> Buy now </a>
                    </div>
                </div>
                <div class="game">
                    <div>
                        <img src="/app/templates/img/загружено (1).jpg" alt="The Last Of Us">
                    </div>
                    <div class="description">
                        <h2>The Last of Us</h2>
                        <p>20$</p>
                        <a href="#"><i class="fa-solid fa-cart-shopping"></i> Buy now </a>
                    </div>
                </div>
                <div class="game">
                    <div>
                        <img src="/app/templates/img/capsule_616x353.jpg" alt="Metro Exodus">
                    </div>
                    <div class="description">
                        <h2>Metro Exodus</h2>
                        <p>20$</p>
                        <a href="#"><i class="fa-solid fa-cart-shopping"></i> Buy now </a>
                    </div>
                </div>
            </div>

    </section>
    <script src="https://kit.fontawesome.com/c35fd0704f.js" crossorigin="anonymous"></script>
</body>

</html>