<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Witcher</title>
</head>

<body>
    <section class="witchersec">
        <div>
            <h1>The Witcher 3: Wild Hunt</h1>
            <img src="img/загружено.jpg" alt="">
            <button>Buy</button>
            <img src="img/загружено (2).jpg" alt="">
            <img src="img/загружено (3).jpg" alt="">
            <img src="img/загружено (4).jpg" alt="">
        </div>
    </section>
</body>

</html>